/* Stylesheet for nicobako's website. */


/* Variables */

:root {
    --color-gray-dark: #131515;
    --color-gray-med: #2b2c28;
    --color-gray-light: #797a77;
    --color-teal-dark: #58a196;
    --color-teal-light: #9de1d6;
    --color-white-off: #fffafb;
}


/*
colors by colors.co
 */

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: var(--color-white-off);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-teal-light);
}

.header__img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__logo {
    padding-bottom: 0;
    margin-top: 10px;
    margin-bottom: 5px;
}

.header__brief {
    margin-top: 0;
    font-style: italic;
    font-size: 0.75rem;
}

.hamburger {
    width: 50px;
    height: 50px;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hamburger:hover {
    cursor: pointer;
}

.hamburger__slice {
    background-color: black;
    height: 20%;
    width: 100%;
}

.nav {
    background-color: var(--color-gray-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0.5em;
}

.nav__app {
    font-size: 1.5rem;
}

.nav__page {
    font-size: 1.0rem;
}

.message {
    color: aliceblue;
    background-color: #c4141d;
}

.social {
    display: flex;
    justify-content: center;
}

.social__icon {
    width: 4em;
    height: 4em;
    margin: 1em;
}