{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}nicobako website{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="//unpkg.com/alpinejs" defer></script>

    <body x-data=" { showNav: false }">
        <header class="header">
            <section class="header__img">
                <h1 class="header__logo"><a href="/">nicobako</a></h1>
                <p class="header__brief"> A Pythonista Tries Web Development</p>
            </section>
            <div class="hamburger" x-on:click=" showNav = ! showNav">
                <div class="hamburger__slice"></div>
                <div class="hamburger__slice"></div>
                <div class="hamburger__slice"></div>
            </div>
        </header>
        <nav class="nav" x-show="showNav">
            <a class="nav__app" href="/home/">Home</a> {% if user.is_authenticated %}
            <a class="nav__page" href="{% url 'home:logout' %}">Logout</a> {% else %}
            <a class="nav__page" href="{% url 'home:register' %}">Register</a>
            <a class="nav__page" href="{% url 'home:login' %}">Login</a> {% endif %} {% if user.is_superuser %}
            <a class="nav__app" href="/admin/">Admin</a> {% endif %}
            </ul>
        </nav>

        {% if messages %}
        <ul class="message">
            {% for message in messages %}
            <li{% if message.tags %} class="message--{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}
        <div id="pages">
            {% block app-nav %} {% endblock app-nav %}
        </div>
        <div id="content">
            {% block content %} {% endblock content %}
        </div>
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</head>